.mapshead h1{
    text-align: start;
    /* margin-bottom: 30px; */
}
.maps{
    margin: 0 40px;
}
.mapshead{
    display: flex;
    justify-content:space-between;
}
.mapshead a{
    color: black;
    margin-top: 15px;
    text-align:end;
}
.mapsimg img{
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}