.offbod{
    background-color: white;
    width: 95%;
}
.offcan{
    width: 19% !important;
    
}
.SIGNUP-BUT{
    border-radius: 10px;
    /* margin-left: 30px; */
    margin-bottom: 8px;
    width: 255px;
    color: white;
    background-color: black;
    padding: 0.5rem 0;
}
.LOGIN-BUT a{
    /* width: 30px; */
    border: none;
    color: black;
    /* padding-top: 0.5rem; */
}
.LOGIN-BUT{
    
    background-color: #EEEEEE;
    padding: 0.5rem 0;
    border-radius: 10px;
    border: none;
    /* margin-left: 30px; */
    margin-bottom: 10%;
width: 255px;
}
.LOGIN-BUT :hover{
    color: black;
   background-color: #e2e2e2;
}
.Button-signup{
    color: white;
}
.Button-signup :hover{
    color: white !important;
}
.offhead{
    color: white;
    background-color: white;
}
.option {
    display: flex;
    flex-direction: column;
    width: 188px;
    /* margin-left: 21.5%; */
    text-align: start;
}
.option a{
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin: 5px 0;
}
.foot{
    margin-bottom: 8%;
    display: flex;
}
.foot p{
    display: flex;
    font-weight: 600;
    width: 150px;
    text-align: start;
    margin-left: 18px;
    align-items: center;
    justify-content: center;
}
.foot img{
    height: 4rem;
    width: 4rem;
    border-radius: 13px;
}
.appstor{
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    display: flex;
    /* width: 4rem; */
}
.appstor button{
    width: 46%;
    border: none;
    padding: 0.5rem 0;
    border-radius: 50px;
}
.appstor i{
    margin-right: 7px;
}
.mainmud{
    margin-top: 110%;
}
.flu{
    /* margin-bottom: 45%; */
}

.SIGNUPBUT{
    width: 46%;
    border: none;
    padding: 0.5rem 0;
    border-radius: 50px;
}
.LOGINBUT{
    width: 46%;
    border: none;
    padding: 0.5rem 0;
    border-radius: 50px;
}
/* .Button-signup{
    width: 120px;
} */
.LOGINBUT{
    
    width: 100px;
    padding: 10px 0;
}
.SIGNUPBUT{
    background-color: black;
    padding: 10px 0;
    width: 100px;
    margin-left: 15px;
}
.SIGNUPBUT a{
    padding: 3px 0px;
color: white;
}
.LOGINBUT a{
    font-weight: 500;
    /* padding: 1px 0px; */

}
.sidebut{
    margin: 20px 25px 0 0 ;
} 
.LOGINBUT i{
    font-size: 20px;
    margin-right: 2px;
}
.navic{
    color: black !important;
}
.ogo{

    margin: 5px 0px 0px 20px;
}
.hea{
    display: flex;
    text-align: start;
    margin-right: 67%;
    margin-top: 2px;
}
.eats{
    font-size: 30px;
    font-weight: 700;
    margin-left: 5px;
}

.uber{
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.mainmain{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.imageleft img{
height: 50px;
width: 50px;
border-radius: 8px;
}
.applee{
    border: none;
    border-radius: 20px;
    height: 38px;
    width: 100px;
    margin-right: 8px;
    font-weight: 600;
}
.yepapp{
    margin-right: 10px;
}
.mainright{
    margin-left: 13px;
    font-weight: 600;
}
.ended{
    margin-top: 330px;
}

