.Drop{
    /* z-index: 1200; */
}
.makeSymbol{
    margin-right: 5px;
}
.deliver{
    border-radius: none !important;
}
.hi{
    border-radius: none !important;
    /* margin-left: 5px; */
    /* padding: 20px 50px; */
    width: 170px;
    height: 60px;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: 500;
    border: none;
}


.Drop .hi :hover{
    background-color: white !important;
    color: black !important;
    font-weight: 500;
}
.darker{
    /* z-index: 1300; */
    /* margin-left: 5px; */
    border: none !important;
    width: 120px;
    background-color: black;
    font-weight: 600;
    font-size: 18px;
}
.detailss{
    display: flex;
 justify-content: center;
 gap: 10px;
 
}
.details{
    margin-top: 13%;
    
}
.details h1{
    font-weight: bold;
    font-size: 50px;
}
.end a{
    text-decoration: underline;
    color: black;
}
.end{
    margin-top: 20px;
    font-weight: 500;
    width: 320px;
}
.location{
    border: none;
    /* padding: 15px 195px; */
    width: 570px;
    height: 60px;
    padding-left: 10px;
    /* margin-left: 40px; */
}

.location:focus{
    outline: none;
}
.location :placeholder{
  font-weight: 600;
}

.btn{
    border-radius: none !important;
}